@model Product

<form class="card" asp-controller="WebShop" asp-action="AddToCart" method="post">
    <img src="~/img/@(Model.Name).jpg">
    <h5 class="">Product @Model.Id</h5>
    <h5 class="" style="align-self: flex-start">@Model.Name</h5>
    <p class="" style="align-self: flex-start">@Model.Description.</p>
    <p class="" style="align-self: flex-start">Category: @Model.Category.Department</p>
    <p class="" style="align-self: flex-start">Supplier: @Model.Supplier.Name</p>
    <p class="">
        <strong>Price: @Model.DefaultPrice.ToString("C2")</strong>
    </p>
    <input type="hidden" asp-for="Id">
    <button type="submit" class="btn btn-primary">Add To Cart</button>
</form>